/* Общие настройки */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Tahoma, sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: black;
  background-color: #ffffff;
  
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  visibility: hidden;
  margin: 0;
  height: 0;
}

/* Button - Кнопки и их модификаторы */

.button {
  display: inline-block;

  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #fb565a;

  border: none;
  border-radius: 4px;

  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 54px;
  padding-right: 54px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.button--green {
  background-color: #00ca74;
}

.button--green:hover {
  background-color: #00bc6c;
}

.button--green:active {
  background-color: #00aa62;
}

.button--yellow {
  background-color: #efc84a;
}

.button--yellow:hover {
  background-color: #eab534;
}

.button--yellow:active {
  background-color: #e5a722;
}

.button--grey {
  color: black;
  background-color: #eee;
}

.button--grey:hover {
  background-color: #dfdfdf;
}

.button--grey:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

/* Header - Шапка */

.page-header {
  background-color: #eeeeee;

  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;

  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;

  width: 1200px;

  margin: 0;
  margin-right: auto;
  margin-left: auto;
  padding-top: 49px;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;

  box-sizing: border-box;
}

.navigation-logo__link[href]:hover {
  opacity: 0.8;
}

.navigation-logo__link[href]:active {
  opacity: 0.3;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;

  width: 800px;

  margin: 0;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;
}

.navigation__item {
  padding-top: 0;
  padding-right: 23px;
  padding-bottom: 0;
  padding-left: 23px;
}

.user-menu {
  margin: 0;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 0;
}

.user-menu__link--cart {
  position: relative;

  padding-left: 15px;
}

.user-menu__link--cart::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -26px;

  width: 15px;
  height: 15px;

  background-color: #eeeeee;
  background-image: url("../img/svg/cart-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.navigation__list,
.user-menu {
  list-style: none;
}

.navigation__link,
.user-menu__link {
  color: black;
}

.navigation__link:hover,
.navigation__link:focus {
  color: #fb565a;
}

.navigation__link:active {
  color: black;
  opacity: 0.3;
}

.navigation__link--current {
  border-bottom: 2px solid #fb565a;
}

.user-menu__link:hover,
.user-menu__link:focus {
  color: #fb565a;
}

.user-menu__link:active {
  color: black;
  opacity: 0.3;
}

.page-conteiner {
  width: auto;
}

/* Slider - Слайдеры */

.slider {
  width: auto;

  background-color: #eeeeee;

  margin: 0;
  padding: 0;
}

.slider__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 1200px;
  height: 424px;

  margin-left: auto;
  margin-right: auto;
}

.slide-1 {
  background-image: url("../img/sliders/slide1.png");
  background-repeat: no-repeat;
  background-position: 70% 100%;
}

.slide-2 {
  background-image: url("../img/sliders/slide2.png");
  background-repeat: no-repeat;
  background-position: 70% 100%;
}

.slide-3 {
  background-image: url("../img/sliders/slide3.png");
  background-repeat: no-repeat;
  background-position: 70% 100%;
}

.slider__appeal {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: black;

  margin: 0;
  padding-top: 86px;
  padding-bottom: 29px;
}

.slider__text {
  line-height: 24px;
  color: #283136;

  margin: 0;
  padding-bottom: 17px;  
}

.slider__button {
  margin: 0;
  
}

.slide-2,
.slide-3 {
  display: none;
}

/* Conteiner-center - Контейнер центратор */

.conteiner-center {
  margin: 0;
  margin-right: auto;
  margin-left: auto;

  width: 1200px;
}

/* Service - Список возможнойстей студии */

.service {
  margin-top: 75px;
}

.service__list {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  margin: 0;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 80px;

  list-style: none;
}

.service__list::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;

  width: calc(100% - 40px);
  
  border-bottom: 2px solid #eee;
}

.service__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 300px;
}

.service__item:nth-of-type(2) {
margin-left: 100px;
}

.service__item:nth-of-type(3) {
  margin-left: 100px;
  }

.service__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  color: black;

  margin-top: 30px;
  margin-bottom: 26px;
}

.sevice__img {
  order: -1;
}

.service__text {
  color: #283136;

  margin: 0;
  padding-top: 0;
  padding-right: 25px;
  padding-bottom: 26px;
  padding-left: 0px;
}

.service__button {
  padding-right: 40px;
  padding-left: 40px;

  width: 160px;
}

/* Studio - Информация о студии */

.studio {
  position: relative;
  display: flex;
  justify-content: center;

  margin: 0;
  padding-top: 40px;
  padding-bottom: 50px;
}

.studio::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  width: calc(100% - 40px);
  height: 2px;
  background-color: #eeeeee;
}

.about-us {
  width: 660px;

  margin-right: 140px;
}

.about-us__desc {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: black;

  margin: 0;
  padding-top: 40px;
}

.about-us__text {
  margin: 0;
  padding: 0;
}

.about-us__text--small {
  padding-top: 50px;
}

.about-us__text--bold {
  font-weight: bold;
  text-transform: uppercase;
  color: black;

  padding-top: 50px;
  padding-bottom: 40px;
}

.statistics__text--bold {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: black;

  margin: 0;
  padding-top: 40px;
}

.about-us__list { 
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-us__item {
  position: relative;
  color: #283136;

  margin: 0;
  margin-bottom: 24px;
  margin-left: 36px;
}

.about-us__item::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: -35px;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  }

.statistics__list {
  display: flex;

  padding: 0;

  list-style: none;
}

.statistics__item {
  width: 100px;

  margin: 0;
  margin-right: 20px;
}

.statistics__percent {
  font-size: 45px;
  font-weight: bold;
  line-height: 10px;
  text-transform: uppercase;
}

.statistics__desc {
  font-size: 16px;
  line-height: 18px;
}

/* Partners - Список партнеров */

.partners {
  position: relative;
}
.partners::after {
  content: "";
  position: absolute;
  left: 20px;

  width: calc(100% - 40px);
  
  border-bottom: 2px solid #eee;
}

.partners__list {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 0;
  padding: 0;
  padding-top: 46px;
  padding-bottom: 50px;

  list-style: none;
}

.partners__img {
  position: relative;
  opacity: 0.2;
}

.partners__img:hover {
  opacity: 1;
}

.partners__img:active {
  opacity: 0.1;
}

/* Contacts - Контактная информация */
.contacts {
  position: relative;

  height: 416px;
  margin: 0;
  margin-top: 80px;
  margin-bottom: 70px;
}

.map {
  position: absolute;
  z-index: -1;
}

.contacts__center {
  display: flex;

  width: 1200px;
  height: 416px;

  margin: auto;
}

.feedback {
  width: 319px;
  height: 308px;

  margin: auto;
  margin-left: 20px;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;

  background-color: #ffffff;

  box-sizing: border-box;
}

.feedback__title {
  margin: 0;
  margin-bottom: 34px;

  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.feedback__adress,
.feedback__phone {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #666666;
}

.feedback__adress {
margin: 0;
margin-bottom: 20px;
}

.feedback__phone {
  margin: 0;
  margin-bottom: 40px;
}

.feedback__button {
  padding-left: 40px;
  padding-right: 40px;
}

/* Footer - Подвал */

.page-footer {
  display: flex;
  align-items: center;

  width: 1200px;

  margin: 0;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 70px;
}

.socials {
  margin: 0;
  margin-left: 20px;
}

.prompt {
  order: 1;

  margin: 0;
  margin-left: 125px;
}

.prompt__appeal {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;

  margin: 0;
  padding-bottom: 20px;
}

.prompt__discount {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #444444;

  margin: 0;
}

.socials__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;

  margin: 0;
  padding: 0;
}

.socials__item {
  margin: 0;
  margin-right: 5px;
  margin-left: 5px;
}

.socials__link {
  position: relative;

  display: block;
  width: 80px;
  height: 80px;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.socials__link::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  background-repeat: no-repeat;
}

.socials__link_vk::after {
  width: 26px;
  height: 15px;

  background-image: url(../img/svg/vk-icon.svg);
}

.socials__link_fb::after {
  width: 12px;
  height: 22px;

  background-image: url(../img/svg/fb-icon.svg);
}

.socials__link_insta::after {
  width: 21px;
  height: 21px;

  background-image: url(../img/svg/insta-icon.svg);
}

.socials__link:hover {
  background-color: #e74246;
}

.socials__link:active {
  background-color: #d7373b;
  opacity: 0.3;
}

/* Catalog.index - Магазин */

.page-conteiner__title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000000;
  text-align: center;
  background-color: #eeeeee;

  width: 100%;

  margin: 0;
  padding-top: 85px;
  padding-bottom: 70px;
}

.store {
  display: flex;

  padding-top: 60px;
}

/* Filters - Фильтры */

.filters {
  color: #283136;

  width: 261px;
}

/* Cost-filter - Стоимость */

.cost-filter {
  padding-bottom: 62px;
}

.filter-form__cost-filter {
  border: none;
}

.cost-filter__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  color: black;
}

.controls {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
}

/* Network - Сетка */
.network {
  padding-bottom: 51px;
}

.filter-form__network {
  border: none;
}

.network__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  color: black;
}

.network__input {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

/* Features - Особенности */

.features {
  padding-bottom: 48px;
}

.filter-form__features {
  border: none;
}

.features__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  color: black;
}

.features__input {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

/* Catalog - Список демонстрационных сайтов */

.catalog {
  width: 760px;

  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

/* Sort - Сортировать */

.sort {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: black;

  margin: 0;
}

.sort__list {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;

  margin: 0;
  margin-left: 266px;
  padding: 0;

  list-style: none;
}

.sort__item:nth-child(n+2) {
  margin-left: 27px;
}

.sort__link {
  color: black;
  opacity: 0.3;
}

.sort__link:hover {
  opacity: 0.6;
}

.sort__link:active,
.sort__link_current {
  opacity: 1;
}

.direction {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.direction__item:nth-child(n+2) {
  margin-left: 18px;
}

/* Catalog_list - Список демонстрационных сайтов */

.catalog__list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;

  list-style: none;
}

.catalog__item {
  width: 360px;
  margin: 0;

  padding: 0;
  padding-top: 33px;
}

.catalog__item:nth-last-of-type(2n+1) {
  margin-left: 40px;
}

.hidden {
  position: absolute;
}

.desc__link {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  color: black;
}

.desc__link:hover {
  color: #fb565a;
}

.desc__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.desc__text {
  font-size: 14px;
  line-height: 18px;
  color: #666666;
}

/* Pagination - Нумерация страниц */

.pagination {
  align-items: center;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;

  padding-top: 60px;
}

.pagination__list {
  display: flex;
  
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination__item {
  margin-right: 11px;
}

.pagination__link {
  display: inline-block;
  padding: 15px 20px;

  color: black;

  background-color: #eeeeee;
  border-radius: 4px;
}

.pagination__link--current {
  background-color: white;
  box-shadow: inset 0 0 0 3px #dbdbdb;
}

.pagination__link:hover {
  background-color: #dfdfdf;
}

.pagination__link:active {
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

/* Popup - Модальное окно */

.popup {
  display: none;
}

.message__form {
  width: 960px;
  height: 590px;
}

.message__title {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.message__row{
  display: flex;
}

.message__item label {
  font-weight: bold;
  line-height: 18px;
}

.message__item input {
  width: 360px;
  height: 50px;

  border: 2px solid #d7dcde;
  border-radius: 4px;
}

.message__item textarea {
  width: 760px;
  height: 118px;

  border: 2px solid #d7dcde;
  border-radius: 4px;
} 

.message__item input::placeholder,
.message__item textarea::placeholder {
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);
}

.message__item input:hover,
.message__item textarea:hover {
  border-color: #b4b9bb; 
}

.message__item input:focus,
.message__item textarea:focus {
  border-color: #000000;
  outline: black;
}

.message__item input:focus::placeholder,
.message__item textarea:focus::placeholder {
  color: #444444;
}

.message__item input:invalid {
  border-color: #e74246;
}

.message__item input:invalid::placeholder {
  color: #e74246;
}

.message__button {
  width: 260px;
}